@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import './mobile';


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif;
    transform: scale(2.5);
    overflow: hidden;

    background: linear-gradient(-45deg, #f7ebec, #1d1e2c, #696773, #d3d5d7);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    img {

        border-radius: 50%;
        width: 35%;

        height: 150px;
        object-fit: cover;
        object-position: -50px;
        margin-right: 30px;
        transform: translatey(0px);
        animation: float 3s ease-in-out infinite;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;


        @keyframes float {
            0% {
                box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                transform: translatey(0px);
            }

            50% {
                box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
                transform: translatey(-23px);
            }

            50% {
                box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
                transform: translatey(5px);
            }

            100% {
                box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                transform: translatey(0px);
            }
        }

    }

    .cardContainer {
        &.border {

            @keyframes moveGradient {
                50% {
                    background-position: 100% 50%;
                }





            }

            --border-width: 4px;

            position: relative;


            &::after {
                position: absolute;
                content: "";
                top: calc(-1 * var(--border-width));
                left: calc(-1 * var(--border-width));
                z-index: -1;
                width: calc(100% + var(--border-width) * 2);
                height: calc(100% + var(--border-width) * 2);
                background: linear-gradient(60deg,
                        hsl(224, 85%, 66%),
                        hsl(269, 85%, 66%),
                        hsl(314, 85%, 66%),
                        hsl(359, 85%, 66%),
                        hsl(44, 85%, 66%),
                        hsl(89, 85%, 66%),
                        hsl(134, 85%, 66%),
                        hsl(179, 85%, 66%));
                background-size: 300% 300%;
                background-position: 0 50%;
                border-radius: calc(2 * var(--border-width));
                animation: moveGradient 4s alternate infinite;
            }
        }

        background: linear-gradient(-45deg, #8367C7, #5603AD, );
        background-size: 400% 400%;
        animation: gradient 5s ease infinite;
        border-radius: 4px;
        padding: 20px;
        line-height: 1.2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 450px;
        justify-content: space-around;

        color: #f0fff1;

        h1 {
            font-size: 2vw;
            white-space: nowrap;
            line-height: 1px;
            position: relative;


        }

        h2 {
            font-size: 1vw;
            text-align: right;

            &:hover {
                animation: wiggle 2s linear infinite;

                @keyframes wiggle {

                    0%,
                    7% {
                        transform: rotateZ(0);
                    }

                    15% {
                        transform: rotateZ(-15deg);
                    }

                    20% {
                        transform: rotateZ(10deg);
                    }

                    25% {
                        transform: rotateZ(-10deg);
                    }

                    30% {
                        transform: rotateZ(6deg);
                    }

                    35% {
                        transform: rotateZ(-4deg);
                    }

                    40%,
                    100% {
                        transform: rotateZ(0);
                    }
                }
            }


        }

        h3 {
            font-size: .6vw;
            text-align: right;

        }

        hr {
            border: none;
            height: 0.5px;
            background: #e5e5e5;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        }


    }

    .social {
        text-align: center;


        i {
            margin: 5px;
            cursor: pointer;
            background: #5603ad;
            padding: 5px;
            height: 15px;
            border-radius: 100%;
            transition: .5s ease-in-out;
            opacity: 0.7;

            &:hover {
                opacity: 1;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
            }
        }
    }



}